@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Roboto+Serif:wght@600&family=Roboto:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


:root{
  --bg: linear-gradient(118.05deg, #2CC4CE 28.96%, rgba(235, 255, 0, 0.6) 89.91%);
  --bg-panel: #faf72e;
  --color-headings: #0077FF;
  --color-text: #333333;
}

.corpo-pagina {
  font-size: 100%;
  background: var(--bg);
  
}


input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: var(--color-headings);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}


.navegacao-imagem-esquerda {
  width: auto;
  height: 100px;
}

.navegacao-imagem-carrinho {
  width: auto;
  height: 80px;
}

.navegacao-imagem-logo {
  width: auto;
  height: 150px;
}

.topo-pagina{
  padding: 24px;
}

.logo-acima {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navegacao {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 40px;
}

.navegacao-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.navegacao-menu-item {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 600;
  font-size: 18px ;
}

.navegacao-menu-item-cliente {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: underline black;
}

.navegacao-menu-item-nome{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: underline black;
}

.nome-menu-item {
  font-family: 'Courier Prime', monospace;
  color: black;
  font-weight: 700;
  font-size: 15px ;
}

.Nome-cliente {
  font-family: 'Courier Prime', monospace;
  color: black;
  font-weight: 700;
  font-size: 15px ;
}

.conteudo-pagina {
  border-top: 0.4px solid lightblue;
  border-bottom: 0.4px solid lightblue;
  display: flex;
  flex-direction: column;
  flex-flow: space-around;
  padding: 46px;
  margin-bottom: 48px;
}

.conteudo-cima {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}

.conteudo-cima-esquerda{
  display: flex;
  flex-direction: column;

}

::placeholder {
font-weight: 500;
}

.texto-titulo {
  font-family: 'Roboto Serif', sans-serif;
  color: black;
  font-weight: 700;
  font-size: 25px ;
}

.texto-titulo-acima {
  font-family: 'Courier Prime', monospace;
  color: black;
  font-weight: 600;
  font-size: 40px ;
  align-items: center;
  -webkit-text-stroke: 0.001px rgb(102, 102, 1);

  

}
.animation-lamp {
  animation: lightsOn 2.5s alternate infinite ease-in-out;
  background-image: url(/_imagens/lamp.png);
  background-position: 50%;
  border-radius: 20px;

}


@keyframes lightsOn {

  from {
    opacity: 0.6;
  }

  to {
    opacity: 1.8;
  }

}




.conteudo-cima-nome {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.texto-item {
  font-family: 'Courier Prime', monospace;
  color: black;
  font-weight: 600;
  font-size: 18px ;
order: 1;;

}

.texto-paragrafos-lampada{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.texto-paragrafos{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.texto-item-lampada{
  font-family: 'Courier Prime', monospace;
  color: black;
  font-weight: 600;
  font-size: 18px ;
order: 1;;
}

.lampada-texto{
padding-left: 100px;
  width: auto;
  height: 120px;
}

.texto-item-imagem {
order: 2;
align-self: flex-end;

}
.texto-item-botao {
  order: 1;
}

.texto-do-botao {
  color: white;
  font-family: 'Roboto Serif', sans-serif;
}




.bt {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
  border: #FFF;
}

.bt-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.bt-one span {
	transition: all 0.3s;
}
.bt-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.bt-one:hover span {
	letter-spacing: 2px;
}
.bt-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.bt-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.bt-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

figure {
  width: 467px;
  height: 447px;
  transform: translateY();
  animation: float 5s ease-in-out infinite;

}

.mecher {
  transform: translateX();
  animation: floatlado 5s ease-in-out infinite;
}

@keyframes float {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0px);
  }
  
}

@keyframes floatlado {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(-30px);
  }
  100%{
    transform: translateX(0px);
  }
  
}

#fig1 {
  background-image: url('../_imagens/Fancy\ bulb\ redondo.png');
  transition: .6s;
}

#fig1:hover{
  background-image: url('../_imagens/bemvindo.png');
}

.rodape-cima{
margin-bottom: 18px;
padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.rodape-linha-item-titulo{
  font-family: 'Roboto Serif', sans-serif;
  color: black;
  font-weight: 700;
  font-size: 20px ;

}

.rodape-linha-item{
  font-family: 'Courier Prime', monospace;
  color: black;
  font-weight: 600;
  font-size: 15px ;
  padding: 10px;
}




/*
font-family: 'Roboto', sans-serif;
*/