@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.container{
    margin: auto;
}
table {
    position: relative;
    background-color: aliceblue;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 0 auto 100px;

    
}
td {
    font-family: "Roboto", sans-serif;
    color: black;
    border: solid black 1px;
    text-align: center;
}

th {
    border: solid black 1px;
    text-align: center;
}

tr {
    font-family: "Roboto", sans-serif;
    color: black;
}